// Colors
$white: hsl(0, 0%, 100%);
$paleBlue: hsl(225, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);
$veryPaleBlue: hsl(225, 100%, 98%);
$desaturatedBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);

// Font Sizes
$fontHeader: 1.35rem; //22px
$fontBody: 1.125rem; //20px
$fontOther: 1.125rem; //18px
$fontLink: 1rem; //16px

// Font Family font-family: 'Red Hat Display', sans-serif;

// Font Weights
$weightHeader: 900; // header
$weightBody: 500; // description and $59.99/year
$weightOther: 700; // Annual plan and buttons
